@{
  Layout = "_Layout";
}

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3><a href='/specialties'>View our specialties</a></h3>
    </div>
    <div class="col-md-4">
    <h3><a href='/stylists'>View our stylists</a></h3>
    </div>
    <div class="col-md-4">
    <h3><a href='/stylists'>View our clients</a></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4><a href='/specialties/new'>Add a new specialty</a></h3>
    </div>
    <div class="col-md-4">
      <h4><a href='/stylists/new'>Add a new stylist</a></h3>
    </div>
    <div class="col-md-4">
      <h4><a href='/clients/new'>Add a new client</a></h3>
    </div>
</div>
