<div id="header">
  <div id="img-wrap">
  <img src='~/img/scissor-and-comb (1).png' width="50" height="50"/>
  </div>
  <div id="img-wrap2">
  <img src='~/img/scissor-and-comb (1).png' width="50" height="50"/>
  </div>
  <h1>Snippy Clips Hair Salon</h1>
</div>
